.category-container {
    display: flex;
    overflow-x: auto;
    padding: 15px;
    gap: 20px;
    font-family: Arial;
}

.category-container .category-item {
    min-width: 130px;
    display: flex;
    flex-direction: column;
    text-align: row;
    justify-content: row;
    align-items: row;
    padding: 10px;
    gap: 8px;
    background-color: #E5EBF4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 20px;
    border-radius: 5px;
    padding-bottom: 12px;
    color: #888;
}

.category-container .category-item:hover {
    background-color: #E5EBF4;
    transform: scale(1.05);
}

.active {
    background-color: #E5EBF4;
}

.content-icon{
    width: 40px;
    height: 40px;
}