.header{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 26px;
    font-family: Arial;
}

.header .content-profile{
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.header .content-profile .icon-lock{
    width: 28px;
    height: 28px;
    color: black;
}

.header .content-profile .profile{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    position: relative;
}

.header .content-profile .profile .name-profile{
    cursor: pointer;
}

.header .content-profile .icon-row{
    width: 18px;
    height: 12px;
    color: black;
}

.header .content-profile .profile .circle-profile{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
}


.header .content-profile .profile .dropdown-content {
    position: absolute;
    width: 130px;
    top: 45px;
    left: 50px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown-content a {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: black;
}
.dropdown-content a:hover {
   background-color: rgb(232, 231, 231);
   font-weight: 600;
}