.component-menu {
    width: 60px;
    height: 100vh;
    background-color: #3f4b6b; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: relative;
}
.menu-logo {
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
}

.menu-options {
    width: 100%;
    margin-top: 10px; 
}

.menu-options .option {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-options .option svg {
    width: 30px;    
    height: 30px;
    stroke: white; 
    transition: stroke 0.3s, transform 0.3s;
}
.menu-options .option:hover svg {
    stroke: #ff6b6b; 
    transform: scale(1.1); 
}

.component-search {
    margin-bottom: 20px; 
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px; 
}

.component-search svg {
    width: 30px;
    height: 30px;
    stroke: white;
    transition: stroke 0.3s, transform 0.3s;
}

.component-search:hover svg {
    stroke: #ff6b6b; 
    transform: scale(1.1); 
}
