.page-productos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.page-productos .container-header {
    width: 100%;
    margin-left: 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

.page-productos .container-header .content-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    padding-right: 20px;
}

.page-productos .container-header .content-info .content-title {
    width: 100%;
    font-size: 27px;
    font-weight: 600;
}

.page-productos .container-header .content-info .content-description {
    width: 100%;
}

.page-productos .container-header .content-counter {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.page-productos .container-header .content-counter .content-info-counter {
    width: 270px;
    height: 150px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #f1f5fc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.page-productos .container-header .content-counter .content-info-counter .info-counter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.page-productos .container-header .content-counter .content-info-counter .info-counter .icono-counter {
    width: 50px;
    height: 50px;
    color: #779fe5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-productos .container-header .content-counter .content-info-counter .info-counter .number-counter {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.page-productos .container-header .content-counter .content-info-counter .title-counter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.page-productos .container-productos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-productos .container-productos .container-Table-productos {
    width: 1200px;
    height: 550px;
}

