.page-proveedores{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.page-proveedores .container-header-proveedores{
    width: 100%;
    margin-top: 50px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
}

.page-proveedores .container-header-proveedores .content-info-proveedores{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    padding-right: 20px;
}

.page-proveedores .container-header-proveedores .content-info-proveedores .content-title-proveedores{
    width: 100%;
    font-size: 27px;
    font-weight: 600;
}

.page-proveedores .container-header-proveedores .content-info-proveedores .content-description-proveedores{
    width: 100%;
}

.page-proveedores .container-header-proveedores  .content-counter-proveedores{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.page-proveedores .container-header-proveedores .content-counter-proveedores .content-info-counter-proveedores{
    width: 270px;
    height: 150px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #f1f5fc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.page-proveedores .container-header-proveedores .content-counter-proveedores .content-info-counter-proveedores .info-counter-proveedores{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.page-proveedores .container-header-proveedores .content-counter-proveedores .content-info-counter-proveedores .info-counter-proveedores .icono-counter-proveedores{
    width: 50px;
    height: 50px;
    color: #779fe5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-proveedores .container-header-proveedores .content-counter-proveedores .content-info-counter-proveedores  .number-counter-proveedores{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.page-proveedores .container-table-proveedores{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-proveedores .container-table-proveedores .table-proveedores{
    width: 1200px;
    height: 550px;
}